/*******************************
  Online Reg Common
*******************************/

.srs nav.steps { text-align:center; margin:1em 0; }

.srs h2.current { padding:0.5em; background:#eee; margin-top:0; }

.srs-section { padding-bottom:1em; }

.srs-section .panel { border-color:#ddd; padding:1em; }

.srs .proceed { margin:1.5em 0 0; }


/*******************************
  Amounts & Total Box
*******************************/

.srs .totalbox { border-radius:0.4em; padding-bottom:1em; border:solid 1px #ddf; }

.srs .amounts { margin-top:1em; }
.srs .amounts > div { margin:0; clear:both; }

.srs .amounts label { max-width:65%; }
.srs .price { float:right; }

.srs .totalbox .full { font-size:1.2em; font-weight:bold; color:#555; }
.srs .saved .price { font-weight:bold; }
.srs .total .price { font-weight:bold; font-size:1.2em; }

.srs .secureseal { text-align:center; }


/*******************************
  Step 1: Attendee Info
*******************************/

.srs .infobox .form-control-feedback { top:0; right:1em }


/*******************************
  Step 2: Reg Details
*******************************/

.srs .delname h2 { margin:0; font-weight:normal; }
.srs .delbtns { text-align:right; }
.srs .delbtns a { padding-left:1em; }
.srs .delbtns a .glyphicon { font-size:1.5em; top:0.2em; }
.srs .deltotal { margin-top:1em; font-size:0.9em; }

.srs .options .form-group { padding:0.5em; border:solid 1px; }
.srs .options .form-group.bg-warning { border-color:#eda; }
.srs .options .form-group.bg-success { border-color:#bdb; }

.srs .deladd { margin-bottom:2em; }


/*******************************
  Step 3: Review & Pay
*******************************/

.srs .panel-footer label { max-width:100%; }

.srs .totalfinal .amounts > div { padding:0.3em; }
.srs .totalfinal .saved, .srs .totalfinal .taxes { background:rgba(235,255,255,0.4); }
.srs .totalfinal .finalbtns, .srs .totalfinal .finalbtns .row { margin:1em 0; }

.srs .finalbtns .glyphicon { position:absolute; right:1em; top:0.4em; font-size:2em; } 
.srs .finalbtns .back .glyphicon { font-size:1.7em; right:auto; left:1.2em; top:0.6em; } 

/*******************************
  Media Queries
*******************************/

/* Medium devices */
@media only screen and (max-width: 992px) {
    .srs .totalbox .proceed a.btn, .srs .deltotal label, .srs .delbtns { font-size:0.9em; } 
    .srs .deltotal label, .srs .totalbox label { max-width:60%; }
    .srs .totalbox .proceed a.btn { font-weight:bold; }
    .srs-side .amounts > div { font-size:0.9em; }
    .srs-side .amounts .full, .srs-side .amounts h4 { font-size:inherit; }
}

/* Small devices */
@media only screen and (max-width: 768px) {
    .srs h2.current, .srs .delname, .srs .delbtns { text-align:center; }
    .srs .delname, .srs .delbtns, .srs .deltotal { margin:0.7em 0; }
    .srs .totalbox .proceed a.btn, .srs .totalfinal .total h3 { font-size:1.5em; }
    .srs .delbtns { font-size:1.2em }
    .srs-side .amounts > div { font-size:inherit; }
    .srs-side .amounts .full, .srs-side .amounts h4 { font-size:initial; }
}

/* Large devices */
@media only screen and (min-width: 1200px) {

}