/*******************************
  Online Reg Common
*******************************/

.srs nav.steps { text-align:center; margin:1em 0; }

.srs-section { padding-bottom:1em; }

.srs h2.current { padding:0.5em; background:#eee; margin-top:0; }

.srs label { max-width:65%; }

.srs .price { float:right; }

.srs .amounts > div { clear:both; }


/*******************************
  Total Box
*******************************/

/*** Common ***/

.srs .totalbox { border-radius:0.4em; padding-bottom:1em; border:solid 1px #ddf; }
.srs .totalbox div { margin:1em 0; }
.srs input.mac { width:100%; }
.srs .totalbox .proceed { margin:2em 0; }
.srs .totalbox .total, .srs .totalbox .saved, .srs .totalbox .full { margin:0; }

.srs .secureseal { text-align:center; }


/*** Right Column ***/


/*** Final ***/
.srs .saved .price { font-weight:bold; }
.srs .total .price { font-weight:bold; font-size:1.2em; }



/*******************************
  Step 2: Reg Details
*******************************/

.srs .infobox .form-control-feedback { top:0; right:1em }


/*******************************
  Step 2: Reg Details
*******************************/

.srs .delbox { border-color:#ddd; padding:1em;}
.srs .delname h2 { margin:0; font-weight:normal; }
.srs .delbtns { text-align:right; }
.srs .delbtns a { padding-left:1em; }
.srs .delbtns a .glyphicon { font-size:1.5em; top:0.2em; }
.srs .deltotal { margin-top:1em; font-size:0.9em; }

.srs .options .form-group { padding:0.5em; border:solid 1px; }
.srs .options .form-group.bg-warning { border-color:#eda; }
.srs .options .form-group.bg-success { border-color:#bdb; }

.srs .deladd { margin-bottom:2em; }


/*******************************
  Step 3: Review & Pay
*******************************/

.srs .panel-footer label { max-width:100%; }

.srs .totalfinal .amounts div { margin:0; padding:0.3em; }
.srs .totalfinal .full { font-size:1.2em; font-weight:bold; color:#555; }
.srs .totalfinal .full .price { text-decoration:line-through; }
.srs .totalfinal .saved, .srs .totalfinal .taxes { background:rgba(235,255,255,0.4); }
.srs input.mac { width:100%; }
.srs .totalfinal .finalbtns { margin:1em 0; }



/*******************************
  Media Queries
*******************************/

/* Medium devices */
@media only screen and (max-width: 992px) {
    .srs .totalbox .proceed a.btn, .srs .deltotal label, .srs .delbtns { font-size:0.9em; } 
    .srs-side .totalbox label, .srs-side .subtotal .price { font-size:0.8em; }
    .srs .deltotal label, .srs .totalbox label { max-width:60%; }
    .srs .totalbox .proceed a.btn { font-weight:bold; }
}

/* Small devices */
@media only screen and (max-width: 768px) {
    .srs h2.current, .srs .delname, .srs .delbtns { text-align:center; }
    .srs .delname, .srs .delbtns, .srs .deltotal { margin:0.7em 0; }
    .srs .totalbox .proceed a.btn, .srs .totalfinal .total h3 { font-size:1.5em; }
    .srs .delbtns { font-size:1.2em }
}

/* Large devices */
@media only screen and (min-width: 1200px) {

}